# Ignore all generated flashcards and notes
remnote_cards/

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore prompt test results
prompt_test_results/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode, PyCharm, and other IDE configs
.vscode/
.idea/
